.users-guide-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.users-guide-popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  bottom: 25%;
  margin: auto;
  overflow: auto;
  background-color: rgba(0,0,0, 0.7);
  border: 3px solid black;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .users-guide-popup-inner {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 25%;
  }
}

.users-guide-popup-inner-header {
  background-color: rgb(0, 0, 0, 0.8);
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
}

.users-guide-popup-inner-header h1 {
  padding: 20px;
  font-size: 2em;
  margin-top: 20px;
  color: #d3d3d3;
}

.users-guide-popup-inner-header input[type="button"]
{
  position: absolute;
  top: 10px;
  right: 1%;
  color: #F5F5F5;
  background: #008B8B;
  font-size: 1.2em;
  text-align: center;
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid gray;
  border-radius: 30px;
  margin-left: 20px;
}

.users-guide-popup-inner-header input[type="button"]:hover
{
  background: #808080;
}

.collapsible-button {
  display: block;
  color: #F5F5F5;
  opacity: 0.9;
  background: #008B8B;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  top: 150px;
}

.active, .collapsible-button:hover {
  background-color: #d3d3d3;
}

.collapsible-content {
  border: 3px solid black;
  border-radius: 10px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #d3d3d3;
}