footer {
  background-color: rgb(0,0,0,0.85);
  color: #D3D3D3;
  text-align: center;
  width: 95%;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  max-height: 75px;
  margin: 20px auto 20px auto;
}

footer h1 {
  margin: 5px;
  font-size: 1.4em;
}

footer p {

}